@model IEnumerable<PUC.LDSI.Domain.QueryResult.ProvaQueryResult>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-background-cover uk-background-blend-soft-light uk-background-secondary" style="background-image: url(@Url.Content("~/images/dashboardbackground.jpg"))">
    <div class="uk-height-viewport">
        <div class="uk-section">
            <div class="uk-margin-large"></div>
            <div class="uk-overflow-auto uk-margin-right uk-margin-left">
                <table class="uk-table uk-width-2-3 uk-table-hover uk-table-small uk-table-divider uk-background-muted uk-horizontal-center">
                    <thead>
                        <tr>
                            <th class="uk-table-expand">
                                @Html.DisplayNameFor(Model => Model.Avaliacao.Materia)
                            </th>
                            <th class="uk-table-expand">
                                @Html.DisplayNameFor(model => model.NotaObtida)
                            </th>
                            <th class="uk-table-expand">
                                @Html.DisplayNameFor(model => model.Publicacao.Valor)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="uk-preserve-width">
                                        @Html.DisplayFor(modelItem => item.Avaliacao.Materia)
                                    </td>
                                    <td class="uk-text-truncate">
                                        @Html.DisplayFor(modelItem => item.NotaObtida)
                                    </td>
                                    <td class="uk-preserve-width">
                                        @Html.DisplayFor(modelItem => item.Publicacao.Valor)
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="uk-text-center" colspan="7">
                                    <img class="uk-display-block uk-align-center" width="60" src="~/images/empty.png" />
                                    <span class="uk-text-muted">Nenhuma prova realizada ainda.</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
